<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="path" value="D:\autocare_backfill\" />
    <add key="filename" value="autocare-out-donationto-uncare-dd-sd11.txt" />
    <add key="stream" value="care" />
    <add key="eventstoreIP" value="127.0.0.1" />
    <add key="eventstorePort" value="1113" />
    <!--<add key="start" value="800" />
    <add key="end" value="1001" />-->
    <add key="start" value="4866096" />
    <add key="end" value="5662812 " />
    <!--for staging/prod use 1113-->
    <add key="eventstoreUsr" value="admin" />
    <add key="eventstorePass" value="changeit" />
  </appSettings>
</configuration>